<h1>Welcome to Wordle</h1>


<%# <% game.start %>
<%= form_with(url: url_for(action: "start", controller: 'game'), method: "post", data: {turbo: false} ) do |form| %>
    <fieldset>
        <legend>Please select your difficulty</legend>
        <%= form.submit "Easy", {:name => "difficulty"} %>
        <%= form.submit "Medium", {:name => "difficulty"} %>
        <%= form.submit "Hard", {:name => "difficulty"} %>
    </fieldset>
<% end %>